---
const title = Astro.props.title;
import { Image } from "astro:assets";
import KustomerHero from "./Hero";

import MiddleImg from "@assets/kustomer-hero-mid.png";
import LeftImg from "@assets/kustomer-hero-left.png";
import RightImg from "@assets/kustomer-hero-right.png";

let replaceWord = title.split(",")[title.split(",").length - 1];
const renderWords = replaceWord
    .trim()
    .split(" ")
    .map((word) => `<span class="txt-green">${word}</span>`)
    .join("");
let newTitle = title.replace(replaceWord, renderWords);
---

<KustomerHero label={Astro.props.label}>
    <Fragment set:html={newTitle} slot="title" />
    <Image src={MiddleImg} alt="" slot="MiddleImg" />
    <Image src={LeftImg} alt="" slot="LeftImg" />
    <Image src={RightImg} alt="" slot="RightImg" />
</KustomerHero>
