---
const { title, brand_list } = Astro.props;

import {getByUID} from '@/prismic.js';
import { Image } from 'astro:assets';
import arrIconDesk from '@assets/arr-ext-21.svg';
import arrIconMob from '@assets/arrow-small.svg';
import HomeBrand from './Brand';

let replaceWord = title.split(',')[title.split(',').length - 1]
let newTitle = title.replace(replaceWord, `<span class="txt-green">${replaceWord}</span>`)

const list = await Promise.all(
    brand_list.map(async (brand: any) => {
        let item = getByUID('brand', brand.item.uid)
        return item
    })
)
---

<HomeBrand title={newTitle} list={list} client:visible>
    <Image src={arrIconDesk} alt='' slot='arrIconDesk'/>
    <Image src={arrIconMob} alt='' slot='arrIconMob'/>
</HomeBrand>





