---
import KustomerAward from "./Award";
import Image from "astro/components/Image.astro";
import * as prismicH from "@prismicio/client";

import imgPlate from "@assets/kustomer-plate.png";

const { title, describe } = Astro.props;
const newTitle = title.replace(
    "BEST PLATE AWARD",
    `<span class="txt-green">Best Plate Award</span>`,
);
---

<KustomerAward
    label={Astro.props.label}
    btn={Astro.props.btn}
    medal={Astro.props.medal}
    qr={Astro.props.qr}
    des={Astro.props.describe}
    client:visible={{ rootMargin: "100% 0px 100% 0px" }}
>
    <Fragment
        set:html={prismicH.asHTML(Astro.props.describe)}
        slot="describe"
    />
    <Fragment set:html={newTitle} slot="title" />
    <Image src={imgPlate} alt="" slot="imgPlate" />
</KustomerAward>
