---
interface Props {
	title: string;
    sub_title: string;
}
const { title, sub_title } = Astro.props;
---
<section class="home-hero">
    <div class="container grid">
        <h1 class="heading h0 txt-black txt-up home-hero-title">
            {title}
        </h1>
        <div class="grid home-hero-sub">
            <div class="home-hero-sub-top">
                <p class="txt txt-16 txt-med">
                    {sub_title}
                </p>
            </div>
            <div class="home-hero-sub-btn-wrap">
                <a href="./" class="btn btn-main">
                    <div class="txt txt-18 txt-med">Kontact us</div>
                </a>
            </div>
            <div class="home-hero-sub-cta-wrap">
                <div class="txt txt-18 txt-med">Scroll to Explore</div>
            </div>
        </div>
    </div>
</section>
<section class="home-abt">
    <div class="container">
        <h2 class="heading h0 txt-up txt-black home-abt-title">
            <span class="heading h0 txt-up txt-black home-abt-title-top">Your Reputation</span> <br> Our Unwavering Commitment
        </h2>
    </div>
</section>

<script>
    import $ from 'jquery';
    function duplicateAbout() {
        let el = $('.home-abt-title-top').eq(0);
        let clone = el.clone();
        clone.css({
            'position': 'absolute',
            'top': `${el.offset().top}px`,
            'left': `${el.offset().left}px`,
            'z-index': '2'
        })
        $('.main').append(clone);
        $(window).on('resize', () => {
            clone.css({
            'top': `${el.offset().top}px`,
            'left': `${el.offset().left}px`,
            })  
        })
    }
    duplicateAbout()
</script>

<style lang="scss">
    .home-hero {
        padding-top: 18.4rem;
        min-height: 100vh;
        &-title {
            grid-column: 1/10;
            margin-bottom: 6rem;
        }
        &-sub {
            grid-column: 1/8;
            grid-row: 2/3;
            grid-template-columns: repeat(2, 1fr);
            max-width: 48.9rem;
            column-gap: 0;
            &-top {
                grid-column: 1/3;
                padding: 1.8rem 1.4rem;
                border: solid .2rem var(--cl-txt);
            }
            &-btn-wrap {
                padding: 1.4rem;
                border: solid .2rem var(--cl-txt);
                border-top: none;
            }
            &-cta-wrap {
                padding: 1.4rem;
                border: solid .2rem var(--cl-txt);
                display: flex;
                align-items: center;
                justify-content: center;
                border-top: none;
                border-left: none;
            }
        }
    }
    .home-abt {
        padding-top: 13.8rem;
        padding-bottom: 35.2rem;
        .container {
            height: 100%;
            display: flex;
            align-items: center;
        }
        &-title {
            text-align: center;
            margin: 0 auto;
            width: 100%;
            max-width: 103.6rem;
            &-top {
                margin-bottom: 2rem;
                max-width: 103.6rem;
                text-align: center;
                display: inline-block;
            }
        }
    }
</style>