---
const { title, product_list } = Astro.props;

import { Image } from 'astro:assets';
import arrIcon from '../../assets/arr-right.svg?raw';
import sampleQR from '../../assets/image 11.png';
import PDFIcon from '../../assets/ic-pdf.svg';
import {getByUID} from '../../prismic.js';

const list = await Promise.all(
    product_list.map(async (product: any) => {
        let item = getByUID('product', product.item.uid)
        return item
    })
)
---
<section class="home-prod">
    <div class="container grid">
        <div class="home-prod-title-wrap">
            <h2 class="heading h1 txt-up txt-black home-prod-title">
                {title}
            </h2>
        </div>
        <div class="home-prod-main">
            <div class="home-prod-main-list">
                {list.map((item, idx) => (
                    <div class="home-prod-main-item">
                        <h3 class="heading h6 txt-up txt-black home-prod-main-item-title">
                            {item.data.title}
                        </h3>
                        <div class="txt txt-20 txt-bold home-prod-main-item-label">
                            {(idx + 1) < 10 ? '0' + (idx + 1) : idx + 1}
                        </div>
                        <div class="line">
                            <div class="line-inner"></div>
                        </div>
                        {idx == list.length - 1 && (
                            <div class="line line-bottom"></div>
                        )}
                    </div>
                ))}
            </div>
        </div>
        <div class="home-prod-cards">
            <div class="home-prod-cards-inner">
                <div class="home-prod-cards-top">
                    <div class="heading h6 txt-up txt-black home-prod-cards-top-txt">
                        Product Kategories
                    </div>
                    <div class="home-prod-cards-nav">
                        <a href="#" class="home-prod-cards-nav-item prev disable">
                            <div class="ic ic-40"><Fragment set:html={arrIcon}/></div>
                        </a>
                        <a href="#" class="home-prod-cards-nav-item next">
                            <div class="ic ic-40"><Fragment set:html={arrIcon}/></div>
                        </a>
                    </div>
                </div>
                <div class="home-prod-cards-bottom">
                    <div class="home-prod-cards-bottom-txt-wrap">
                        {list.map((item, idx) => (
                            <div class:list={['heading h5 txt-up txt-black home-prod-cards-bottom-txt', { active: idx == 0 }]}>
                                {item.data.title}
                            </div>
                        ))}
                    </div>
                    <div class="home-prod-cards-qr-wrap">
                        <div class="home-prod-cards-qr">
                            <Image src={sampleQR} alt="" class="ic ic-80"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-prod-pdf">
            <a href="#" class="home-prod-pdf-link">
                <div class="home-prod-pdf-link-ic">
                    <Image src={PDFIcon} alt="pdf icon" class="ic ic-32"/>
                </div>
                <div class="txt txt-20 txt-bold home-prod-pdf-link-txt">
                    Download Product Catalog
                </div>
            </a>
        </div>
    </div>
</section>

<script>
    import $ from 'jquery';
    $('.home-prod-main-item').on('pointerenter', function() {
        let idx = $(this).index()
        activeItem(idx)
    })
    function activeItem(idx: number) {
        $('.home-prod-cards-bottom-txt').removeClass('active')
        $('.home-prod-cards-bottom-txt').eq(idx).addClass('active')
        $('.home-prod-cards-nav-item').removeClass('disable')
        if (idx == 0) {
            $('.home-prod-cards-nav-item.prev').addClass('disable')
        } else if (idx == $('.home-prod-cards-bottom-txt').length - 1) {
            $('.home-prod-cards-nav-item.next').addClass('disable')
        }
    }
    $('.home-prod-cards-nav-item').on('click', function(e) {
        e.preventDefault();
        let currIdx = $('.home-prod-cards-bottom-txt.active').index();
        console.log(currIdx)
        if ($(this).hasClass('next')) {
            activeItem(currIdx + 1)
        } else {
            activeItem(currIdx - 1)
        }
    })
</script>

<style lang="scss">
    @import '../../styles/colors.scss';
    @import '../../styles/mixins.scss';
    .home-prod {
        padding-bottom: 28.8rem;
        &-title-wrap {
            grid-column: 1/-1;
            margin-bottom: 8rem;
        }
        &-title {
            max-width: 89rem;
        }
        &-main {
            grid-column: 1/9;
            display: flex;
            flex-direction: column;
            &-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 3rem;
                padding-bottom: 2.8rem;
                position: relative;
                &-title {
                    @include transition(color 400ms ease);
                }
                &-label {
                    color: rgba($cl-txt, .3);
                }
                &:hover {
                    .home-prod-main-item-title {
                        color: var(--cl-orange);
                    }
                    .line-inner {
                        transform: scaleX(1);
                    }
                }
                .line {
                    width: 100%;
                    height: .2rem;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: var(--cl-txt);
                    &-inner {
                        @include size(100%);
                        background-color: var(--cl-orange);
                        transform-origin: left;
                        transform: scaleX(0);
                        @include transition(transform 400ms ease);
                    }
                    &-bottom {
                        top: auto;
                        bottom: 0;
                    }
                }
            }
        }
        &-cards {
            grid-column: 11/16;
            position: relative;
            &-inner {
                border-radius: 1rem;
                border: solid .2rem var(--cl-txt);
                height: 66.2rem;
                top: 22.8rem;
                position: sticky;
                max-height: calc(100vh - 45.6rem);
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            &-nav {
                display: flex;
                &-item {
                    @include size(10.2rem, 10rem);
                    border-left: solid .2rem var(--cl-txt);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: var(--cl-txt);
                    .ic {
                        @include transition(all 200ms ease);
                    }
                    &:not(.disable):hover {
                        color: var(--cl-orange)
                    }
                    &:not(.disable):active {
                        .ic {
                            transform: translateX(.5rem);
                        }
                        &:first-child {
                            .ic {
                                transform: rotate(180deg) translateX(.5rem);
                            }
                        }
                    }
                    &:first-child .ic {
                        transform: rotate(180deg);
                    }
                    &.disable {
                        pointer-events: none;
                        .ic {
                            opacity: .2;
                        }
                    }
                }
            }
            &-top {
                display: flex;
                height: 10rem;
                justify-content: space-between;
                border-bottom: solid .2rem var(--cl-txt);
                align-items: center;
                &-txt {
                    margin-left: 3.2rem;
                    max-width: 13.6rem;
                }
            }
            &-bottom {
                display: flex;
                height: 10rem;
                justify-content: space-between;
                border-top: solid .2rem var(--cl-txt);
                align-items: center;
                &-txt-wrap {
                    margin-left: 3.2rem;
                    display: grid;
                }
                &-txt {
                    grid-column: 1/2;
                    grid-row: 1/2;
                    opacity: 0;
                    pointer-events: none;
                    @include transition(opacity 400ms ease);
                    &.active {
                        opacity: 1;
                        pointer-events: auto;
                    }
                }
            }
            &-qr {
                @include size(10.2rem, 10rem);
                border-left: solid .2rem var(--cl-txt);
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    
                }
            }
        }
        &-pdf {
            grid-column: 1/9;
            justify-self: start;
            padding-top: 5rem;
            padding-bottom: 5rem;
            &-link {
                display: flex;
                align-items: center;
                justify-content: center;
                border: solid .2rem var(--cl-txt);
                &-ic {
                    @include size(7.2rem, 7rem);
                    border-right: solid .2rem var(--cl-txt);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                &-txt {
                    padding: 2rem;
                }
            }
        }
    }
</style>
