---
const { label, title, industry_list } = Astro.props;

import { Image } from "astro:assets";
import eduIcon from '@assets/edu.svg';
import arrIcon from '@assets/arr-ext.svg';
import ctaTxt from '@assets/cta-txt.svg';
import {getByUID} from '@/prismic.js';

const list = await Promise.all(
industry_list.map(async (industry: any) => {
        let item = getByUID('industry', industry.item.uid)
        return item
    })
)
---
<section class="home-indus bg-dark">
    <div class="container grid">
        <div class="home-indus-title-wrap">
            <div class="home-indus-title-stick">
                <p class="heading h4 txt-up txt-black home-indus-label">
                    {label}
                </p>
                <h2 class="heading h0 txt-up txt-black home-indus-title">
                    {title}
                </h2>
                <div class="home-indus-cta-wrap">
                    <a href="#" class="home-indus-cta">
                        <div class="home-indus-cta-inner">
                            <Image src={arrIcon} alt="arr icon" class="ic ic-36" />
                        </div>
                        <div class="home-indus-cta-outer">
                            <Image src={ctaTxt} alt="arr icon" class="ic" />
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="home-indus-main">
            <div class="home-indus-main-list">
                {list.map((item, idx) => (
                    <div class="grid home-indus-main-item">
                        <div class="home-indus-main-item-ic">
                            <Image src={item.data.icon.url} alt={item.data.icon.alt} class="ic ic-100" width={item.data.icon.dimensions.width} height={item.data.icon.dimensions.height}/>
                        </div>
                        <div class="home-indus-main-item-content">
                            <h3 class="heading h4 txt-up txt-black home-indus-main-item-title">
                                {item.data.title}
                            </h3>
                            <p class="txt txt-18 txt-med home-indus-main-item-sub">
                                {item.data.sub_title}
                            </p>
                            <a href={'/kustomer/' + item.uid} class="txt txt-18 txt-med txt-orange home-indus-main-item-link">
                                Learn more
                            </a>
                        </div>
                        <div class="line"></div>
                        {idx == list.length && <div class="line line-bottom"></div>}
                    </div>
                ))}
            </div>
        </div>
    </div>
</section>

<script>

</script>

<style lang="scss">
    @use '@styles/colors' as *;
    @use '@styles/mixins' as *;
    .home-indus {
        padding-block: 20rem;
        background-color: var(--cl-bg-dark);
        color: var(--cl-txt-light);
        @include md {
            padding-block: 9rem;
        }
        &-title-wrap {
            position: relative;
            grid-column: 1/8;
            @include md {
                grid-column: 1/6;
            }
        }
        &-title-stick {
            position: sticky;
            top: 20rem;
            max-width: 69rem;
            min-height: calc(100vh - 20rem - 6rem);
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-between;
        }
        &-label {
            margin-bottom: 2rem;
            @include md {
                @include text(h5);
            }
        }
        &-title {
            margin-bottom: auto;
            @include md {
                @include text(h1);
            }
        }
        &-cta {
            display: block;
            position: relative;
            padding: 2.8rem;
            @include size(16rem);
            @include md {
                @include size(9.5rem);
                padding: 1.45rem;
            }
            &-inner {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                background-color: var(--cl-orange);
                @include size(100%);
                @include md {
                    .ic-36 {
                        @include size(2.27rem);
                    }
                }
            }
            &-outer {
                position: absolute;
                inset: 0;
                animation: rot 20s linear infinite;
            }
            @keyframes rot {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(-360deg);
                }
            }
        }
        &-main {
            grid-column: 10/17;
            @include md {
                grid-column: 7/13;
            }
            &-item {
                grid-template-columns: repeat(7, 1fr);
                padding-block: 8rem;
                position: relative;
                @include md {
                    padding-block: 3.2rem;
                }
                &-ic {
                    grid-column: 1/2;
                    align-self: start;
                    justify-self: start;
                    margin-right: -1.8rem;
                    @include md {
                        margin-right: -.2rem;
                        .ic-100 {
                            @include size(5rem);
                        }
                    }
                }
                &-content {
                    grid-column: 4/-1;
                    display: flex;
                    flex-direction: column;
                    align-items: start;
                    @include md {
                        margin-left: 2.6rem;
                    }
                }
                &-title {
                    margin-bottom: 1.6rem;
                    max-width: 28.3rem;
                    @include md {
                        @include text(h5);
                        max-width: 17rem;
                        margin-bottom: 1.2rem;
                    }
                }
                &-sub {
                    margin-bottom: 3.2rem;
                    color: rgba($cl-txt-light, .6);
                    @include md {
                        margin-bottom: 2rem;
                        @include text(14);
                    }
                }
                &-link {
                    @include md {
                        @include text(16);
                    }
                }
                .line {
                    width: 100%;
                    height: .2rem;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: rgba($cl-border, .3);
                    &-bottom {
                        top: auto;
                        bottom: 0;
                    }
                }
            }
        }
    }
</style>