---
import "./Main.scss";
import ResDtlRichTxt from "./ResourceDtlRichTxt";
import ResDtlRel from "./ResourceDtlRel";
import { getImage } from "astro:assets";
import Image from "astro/components/Image.astro";

import featureImg from "@assets/resource-img2.jpg";
import icLinked from "@assets/ic-linkedin.svg?raw";
import icFacebook from "@assets/ic-facebook.svg?raw";
import icShare from "@assets/ic-copyUrl.svg?raw";
import arrIcon from "@assets/arr-right.svg?raw";

const data = Astro.props;

const image = await getImage({ src: featureImg, format: "webp" });
const listItem = [
    {
        uid: "merging-sustainability-with-innovation-to-deliver-eco-conscious-products",
        title: "merging sustainability with innovation to deliver eco-CONSCIOUS PRODUCTS",
        content:
            "Our strategically located warehouses ensure swift response to fluctuating demands, keeping your supply chain robust and reliable with the environment",
        category: "Industry Reports",
        date: "May 23, 2024",
        imageUrl: image.src,
        class: "feature",
    },
    {
        uid: "sustainable-food-storage:-a-solution-for-nature-and-you",
        title: "Sustainable Food Storage: A Solution for Nature and You",
        content:
            "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.",
        category: "Industry News",
        date: "May 23, 2024",
        imageUrl: image.src,
        class: "feature",
    },
    {
        uid: "sustainable-food-storage:-a-solution-for-nature-and-you",
        title: "Sustainable Food Storage: A Solution for Nature and You",
        content:
            "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.",
        category: "Industry News",
        date: "May 23, 2024",
        imageUrl: image.src,
        class: "feature",
    },
    {
        uid: "sustainable-food-storage:-a-solution-for-nature-and-you",
        title: "Sustainable Food Storage: A Solution for Nature and You",
        content:
            "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.",
        category: "Industry News",
        date: "May 23, 2024",
        imageUrl: image.src,
        class: "feature",
    },
    {
        uid: "sustainable-food-storage:-a-solution-for-nature-and-you",
        title: "Sustainable Food Storage: A Solution for Nature and You",
        content:
            "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.",
        category: "Industry News",
        date: "May 23, 2024",
        imageUrl: image.src,
        class: "feature",
    },
    {
        uid: "sustainable-food-storage:-a-solution-for-nature-and-you",
        title: "Sustainable Food Storage: A Solution for Nature and You",
        content:
            "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.",
        category: "Industry News",
        date: "May 23, 2024",
        imageUrl: image.src,
        class: "feature",
    },
    {
        uid: "sustainable-food-storage:-a-solution-for-nature-and-you",
        title: "Sustainable Food Storage: A Solution for Nature and You",
        content:
            "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.",
        category: "Industry News",
        date: "May 23, 2024",
        imageUrl: image.src,
        class: "feature",
    },
    {
        uid: "sustainable-food-storage:-a-solution-for-nature-and-you",
        title: "Sustainable Food Storage: A Solution for Nature and You",
        content:
            "Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.",
        category: "Industry News",
        date: "May 23, 2024",
        imageUrl: image.src,
        class: "feature",
    },
    {
        uid: "merging-sustainability-with-innovation-to-deliver-eco-conscious-products",
        title: "merging sustainability with innovation to deliver eco-CONSCIOUS PRODUCTS",
        content:
            "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters",
        category: "Industry News",
        date: "May 23, 2024",
        imageUrl: image.src,
        class: "feature",
    },
    {
        uid: "merging-sustainability-with-innovation-to-deliver-eco-conscious-products",
        title: "merging sustainability with innovation to deliver eco-CONSCIOUS PRODUCTS",
        content:
            "There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.",
        category: "Industry Reports",
        date: "May 23, 2024",
        imageUrl: image.src,
        class: "popular",
    },
    {
        uid: "plastic-free-pantry:-transitioning-to-zero-waste-food-packaging",
        title: "Plastic-Free Pantry: Transitioning to Zero-Waste Food Packaging",
        content:
            "There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.",
        category: "Industry News",
        date: "May 23, 2024",
        imageUrl: image.src,
        class: "popular",
    },
    {
        uid: "navigating-the-impact-on-global-food-systems",
        title: "Navigating the Impact on Global Food Systems",
        content:
            "There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.",
        category: "Industry Reports",
        date: "May 23, 2024",
        imageUrl: image.src,
        class: "popular",
    },
    {
        uid: "merging-sustainability-with-innovation-to-deliver-eco-conscious-products",
        title: "merging sustainability with innovation to deliver eco-CONSCIOUS PRODUCTS",
        content:
            "There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.",
        category: "Industry News",
        date: "May 23, 2024",
        imageUrl: image.src,
        class: "",
    },
];
const relList = listItem.filter(
    (item: any) => item.category == Astro.props.category,
);
const removeDupList = relList.filter(
    (item: any) => item.uid != Astro.props.uid,
);
---

<section class="resource-dtl">
    <div class="container grid">
        <div class="txt txt-20 txt-bold resource-dtl-bread">
            <a href="/">Home</a>
            <div class="txt txt-14 txt-semi resource-dtl-bread-div">/</div>
            <a href="/resources">Resource</a>
            <div class="txt txt-14 txt-semi resource-dtl-bread-div">/</div>
            <a href={`./#${data.category.replace(" ", "%20")}`}
                >{data.category}</a
            >
        </div>
        <h1 class="heading h0 txt-black txt-up resource-dtl-title">
            {data.title}
        </h1>
        <div class="line resource-dtl-line"></div>
        <div class="resource-dtl-info">
            <div class="line"></div>
            <div class="resource-dtl-info-stick">
                <div class="resource-dtl-info-item">
                    <div class="txt txt-18 txt-med resource-dtl-info-item-head">
                        Category
                    </div>
                    <div
                        class="txt txt-20 txt-bold resource-dtl-info-item-content"
                    >
                        {data.category}
                    </div>
                </div>
                <div class="resource-dtl-info-item">
                    <div class="txt txt-18 txt-med resource-dtl-info-item-head">
                        Updated date
                    </div>
                    <div
                        class="txt txt-20 txt-bold resource-dtl-info-item-content"
                    >
                        {data.date}
                    </div>
                </div>
                <div class="resource-dtl-info-item">
                    <div class="txt txt-18 txt-med resource-dtl-info-item-head">
                        Read time
                    </div>
                    <div
                        class="txt txt-20 txt-bold resource-dtl-info-item-content"
                    >
                        5 minutes
                    </div>
                </div>
                <div class="resource-dtl-info-item link">
                    <a href="" class="resource-dtl-info-item-link">
                        <Fragment set:html={icShare} slot="icShare" />
                    </a>
                    <a href="" class="resource-dtl-info-item-link">
                        <Fragment set:html={icFacebook} slot="icFacebook" />
                    </a>
                    <a href="" class="resource-dtl-info-item-link">
                        <Fragment set:html={icLinked} slot="icLinked" />
                    </a>
                </div>
            </div>
        </div>
        <ResDtlRichTxt item={data} image={featureImg} />
        <div class="line resource-dtl-line"></div>
        <ResDtlRel list={removeDupList} client:load>
            <Fragment set:html={arrIcon} slot="arrIcon" />
            <Image src={featureImg} alt="" slot="featureImg" />
        </ResDtlRel>
    </div>
</section>
