---
const { product_list } = Astro.props;

import { Image } from 'astro:assets';
import arrIcon from '@assets/arr-right.svg?raw';
import sampleQR from '@assets/image 11.png';
import PDFIcon from '@assets/ic-pdf.svg?raw';
import { getByUID } from '@/prismic.js';
import HomeProductTitle from './ProductTitle';
import HomeProduct from './Product';
import HomeProductList from './ProductList'

const list = await Promise.all(
    product_list.map(async (product: any) => {
        let item = getByUID('product', product.item.uid)
        return item
    })
)
---
<section class="home-prod">
    <div class="container grid">
        <HomeProductTitle prod_sub_title={Astro.props.prod_sub_title} client:visible={{rootMargin: "100% 0px 100% 0px"}}/>
        <HomeProductList list={list} client:media="(min-width: 767px)" client:visible={{rootMargin: "100% 0px 100% 0px"}}/>

        <HomeProduct list={list} client:load>
            <Fragment set:html={arrIcon} slot='arrIcon'/>
            <Image src={sampleQR} alt="" class="ic ic-80" width={sampleQR.width / 2} slot='sampleQR'/>
            <Fragment set:html={PDFIcon} slot='PDFIcon'/>
        </HomeProduct>
    </div>
</section>
