---
const { product_kategory_list } = Astro.props;

import { Image } from 'astro:assets';
import arrIcon from '@assets/arr-right.svg?raw';
import sampleQR from '@assets/image 11.png';
import PDFIcon from '@assets/ic-pdf.svg?raw';
import { getByUID } from '@/prismic.js';
import HomeProductTitle from './ProductTitle';
import HomeProduct from './Product';
import HomeProductList from './ProductList'

const list = await Promise.all(
    product_kategory_list.map((product_group: any) => {
        let group = getByUID('product_group', product_group.item.uid)
        return group
    })
)
let standardList = list.filter(el => !el.data.is_sustainables)
let featuredItemList = await Promise.all(
    standardList.map((product_group: any) => {
        let featuredItem = getByUID('product', product_group.data.product_list.filter((el: any) => el.is_featured)[0].product.uid)
        return featuredItem;
    })
)
---
<section class="home-prod">
    <div class="container grid">
        <HomeProductTitle prod_sub_title={Astro.props.prod_sub_title} client:visible={{rootMargin: "100% 0px 100% 0px"}}/>
        <HomeProductList list={standardList} client:media="(min-width: 767px)" client:visible={{rootMargin: "100% 0px 100% 0px"}}/>

        <HomeProduct list={standardList} itemList={featuredItemList} client:load>
            <Fragment set:html={arrIcon} slot='arrIcon'/>
            <Image src={sampleQR} alt="" class="ic ic-80" width={sampleQR.width / 2} slot='sampleQR'/>
            <Fragment set:html={PDFIcon} slot='PDFIcon'/>
        </HomeProduct>
    </div>
</section>
