---
import Image from "astro/components/Image.astro";
import KustomerCatalogue from "./Catalogue";

import arrIcon from "@assets/arr-right.svg?raw";
import qr from "@assets/kustomer-qr.png";
import image from "@assets/kustomer-hero-left.png";

const { title, describe } = Astro.props;
const newTitle = title.replace(
	"RETAILERS",
	`<span class="txt-green">RETAILERS</span>`,
);

let newDescribe = "";
describe.forEach((el, elIdx) => {
	let bodyText = el.text;
	let subString = [];
	el.spans.forEach((hl, idx) => {
		subString[idx] = bodyText.substring(hl.start, hl.end);
	});
	subString.forEach((el, idx) => {
		bodyText = bodyText.replace(
			el,
			`<span class="txt-green txt-bold">${el}</span>`,
		);
	});
	newDescribe += bodyText;
});
---

<KustomerCatalogue
	{...Astro.props}
	client:visible={{ rootMargin: "100% 0px 100% 0px" }}
>
	<Fragment set:html={newTitle} slot="title" />
	<Fragment set:html={newDescribe} slot="describe" />
	<Fragment set:html={arrIcon} slot="arrIcon" />
	<Image src={qr} alt="" slot="qr" class="img img-fill" />
	<Image src={image} alt="" slot="image" class="img img-fill" />
</KustomerCatalogue>
